@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* { 
    font-family: 'Montserrat';
    color: rgb(132,126,129);
}

.col-sm-4 {
  background-color: rgb(242,242,242);
}
  
.col-sm-8 {
  right: 0;
  background-color: rgb(202, 216,226);
}

#logo {
  margin-top: 3rem;
  size: 40%;
}
